*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.square{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  background-color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer; 
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.status{
  margin-bottom: 15px;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.restart{
  padding: 8px 10px;
  background-color: white;
  margin: 1em auto !important;
  display: block;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
}